{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}管理画面{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'manager/css/base.css' %}">
</head>
<body>

    <!-- ヘッダー（トップバー） -->
    <header class="topbar">
        <h1><a href="{% url 'index' %}">管理者画面</a></h1>
    </header>

    <!-- サイドバー -->
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'index' %}">ホーム</a></li>
            <li><a href="{% url 'admin_calendar' %}">シフト設定</a></li>
            <li><a href="{% url 'shift_schedule' %}">シフト確認</a></li>
            <li><a href="https://timecard1.smaregi.jp/top">バイトシフト</a></li>
        </ul>
    </div>

    <!-- メインコンテンツ -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>