{% extends "base.html" %}
{% load static %}

{% block head_extra %}
  {# static/manager/css/toppage.css を指す #}
  <link href="{% static 'manager/css/toppage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="top-container">
  <!-- Top icon （まだ画像を置いていなければ後で manager/static/manager/img/top_icon.png を追加） -->
  <div class="icon top-icon">
    <a href="#">
      <img src="{% static 'manager/img/top_icon.png' %}" alt="Top">
    </a>
  </div>

  <!-- Main actions -->
  <div class="icon-group">
    <a href="{% url 'manager:shift_input' %}" class="icon">
      <img src="{% static 'manager/img/shift.png' %}" alt="シフト入力">
      <span>シフト入力</span>
    </a>
    <a href="{% url 'manager:attendance_list' %}" class="icon">
      <img src="{% static 'manager/img/meibo.png' %}" alt="出席者名簿">
      <span>出席者名簿</span>
    </a>
    <a href="{% url 'manager:job_entry' %}" class="icon">
      <img src="{% static 'manager/img/work.png' %}" alt="仕事内容入力">
      <span>仕事内容入力</span>
    </a>
  </div>
</div>
{% endblock %}
