body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f4f4f9;
    }
h1 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
th {
    background-color: #4CAF50;
    color: white;
}
td {
    background-color: #ffffff;
}
.employee-name {
    font-weight: bold;
}
.time-slot {
    background-color: #e7f7e7;
}
.back-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #0056b3;
}
