{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>送信完了</title>
  <link rel="stylesheet" href="{% static 'student/css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="message-box">
      <p>登録完了しました。<br>メールをご確認ください。</p>
    </div>

    <div class="contact-box">
    
    <p>緊急連絡先<br>0120-1079-29</p>
    </div>

    <div class="button-container">
      <button onclick="history.back()">戻る</button>
    </div>
  </div>
</body>
</html>
